html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary{
	display:block;
}
mark{
	display:inline;
}
body {
	line-height: 1;
	text-align: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
html, body {
	height:100%;
}
html {
	min-width:980px;
}
body {
	background:#fff url(/images/body-top.gif) repeat-x top;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:1em;
	color:#000;
}
img {
	border:0;
	vertical-align:top;
	text-align:left;
}

img.pr{
	margin-right:20px;
	float:left;
}
strong{
	color:#515151;
}
object {
	vertical-align:top;
	outline:none;
}
ul, ol {
	list-style:none;
}
table, table td {
	padding:0;
	border:none;
	border-collapse:collapse;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.clear {
	clear:both;
	line-height:0;
}
.col-1, .col-2, .col-3 {
	float:left;
}
.alignright {
	text-align:right;
}
.aligncenter {
	text-align:center;
}
.wrapper {
	width:100%;
	overflow:hidden;
}
.container {
	width:100%;
}
a.und, .und a {
	text-decoration:none;
}
a.und:hover, .und a:hover {
	text-decoration:underline;
}
.nocolor, .nocolor a{
	color:inherit;
}
/*==== GLOBAL =====*/
#main {
	width:980px;
	margin:0 auto;
	font-size:.75em;
}
header{
	height:159px;
	position:relative;
}

#content{
	width:100%;
	float:left;
	background: url(/images/content-bg.gif) center repeat-y;
}

#content .top{
	width:100%;
	float:left;
	background:url(/images/content-top.gif) no-repeat center top;
}

#content .bot{
	width:100%;
	float:left;
	background:url(/images/content-bot.gif) no-repeat center bottom;
}

#content .wrap{
	width:980px;
	overflow:hidden;
	margin:0 auto;
	position:relative;
	left:-7px;
}

footer {
	width:980px;
	height:134px;
	overflow:hidden;
	margin:0 auto;
	position:relative;
}
/*----- forms parameters -----*/

input, select, textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
	margin:0;
}
/*----- other -----*/

a.button{
	font:bold 12px/29px Arial, Helvetica, sans-serif;
	color:#444;
	background:url(/images/button-bg.gif) repeat-x;
	text-decoration:none;
	float:left;
	position:relative;
	padding:1px 26px 0 14px;
}

a.button:before{
	background: url(/images/button-left.gif);
	width:4px;
	height:30px;
	position:absolute;
	left:0;
	top:0;
	content:'';
}

a.button:after{
	background: url(/images/button-right.gif);
	width:21px;
	height:30px;
	position:absolute;
	right:-1px;
	top:0;
	content:'';
}

a.button:hover{
	color:#2baccc;
}



.extra-wrap {
	overflow:hidden;
}
p {
	margin-bottom:16px;
}
.p1 {
	margin-bottom:8px;
}
.p2 {
	margin-bottom:16px;
}
.p3 {
	margin-bottom:24px;
}
/*----- txt, links, lines, titles -----*/
a {
	color:#2baccc;
	outline:none;
}
a:hover {
	text-decoration:none;
}
/*==================boxes====================*/

.box-set1 dl{
	width:148px;
	float:left;
	font:12px/21px Arial, Helvetica, sans-serif;
	padding-right:19px;
}

.box-set1 dl.lst{
	padding-right:0;
}

.box-set1 dl dt{
	width:118px;
	text-align:center;
	margin-bottom:18px;
}

.box-set1 dl dd{
	margin-bottom:12px;
}

.box-set1 dl dd strong{
	color:#444;
	text-decoration:underline;
}

dl.address {
	margin-bottom:22px;
}
dl.address dd {
	width:212px;
	text-align:right;
	clear:both;
}
dl.address dd span {
	float:left;
}
dl.img-box,.img-box-set dl {
	padding-bottom:22px;
}
dl.img-box>dt ,.img-box-set dl>dt{
	float:left;
	padding-right:16px;
}
dl.img-box>dd ,.img-box-set dl>dd{
	overflow:hidden;
	padding-bottom:0;
}
dl.img-box>dd dt ,.img-box-set dl>dd dt{
	margin-bottom:16px;
}
dl.img-box>dd dd ,.img-box-set dl>dd dd{
	margin-bottom:10px;
	overflow:hidden;
}
/*===== header =====*/
header nav{
	position:absolute;
	left:0;
	top:0;
}

header nav ul li{
	float:left;
}

header nav ul li a{
	font:bold 12px/60px Arial, Helvetica, sans-serif;
	color:#242424;
	text-decoration:none;
	padding:0 25px 0 28px;
	float:left;
}

header nav li a:hover {
	background:#fff;
	color:#2baccc;
}


header nav ul li.active a,
header nav ul li a:hover{
	background:url(/images/separator+.gif) no-repeat left top #fff;
	color:#2baccc;
}

header nav ul li a{
	background:url(/images/separator.gif) left top no-repeat;
}

header h1{
	position:absolute;
	left:0;
	top:90px;	
}
header h1 a{
	font:60px/1.2em Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	color:#343434;
}

header h1 img{
	position:absolute;
	left:0;
	top:0;
}

header h1 span{
	position:absolute;
	left:60px;
	top:0px;
}

header .slogan{
	position:absolute;
	left:140px;
	top:95px;
	font:18px/1.2em Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#2aa9ce;
	text-align: left;
}

header .slogan strong{
	color:#bababa;
	position:absolute;
	top:5px;
}
header .british{
	position:absolute;
	left:885px;
	top:104px;
}

header .danish{
	position:absolute;
	left:953px;
	top:110px;
}
header .paypal{
	position:absolute;
	left:730px;
	top:90px;
}

header .twitter{
	position:absolute;
	left:620px;
	top:90px;
}

header .facebook{
	position:absolute;
	left:685px;
	top:103px;
}
/*===== content =====*/

#content article{
	padding:24px 0 0 0px;
	float:left;
	font:12px/18px Arial, Helvetica, sans-serif;
	color:#979797;
}

#content aside{
	float:left;
	padding:21px 6px 0 20px;
	font:12px/20px Arial, Helvetica, sans-serif;
	color:#979797;
	overflow:hidden;
}

#content section{
	overflow:hidden;
	padding:0 0 40px 12px;
}

#content aside section{
	padding:0 0 40px 0;
}

#content article section.lrg-pic{
	padding:0 0 40px 6px;
}

#content h2{
	font:30px/1.2em Arial, Helvetica, sans-serif;
	color:#979797;
	margin-bottom:18px;
}

#content h2 mark{
	color:#444;
}

#content h3{
	font:21px/1.2em Arial, Helvetica, sans-serif;
	color:#444;
	text-transform:uppercase;
	margin-bottom:18px;
}

#content .colum.pr{
	padding-right:60px;
}

#content .list{
	padding-bottom:18px;
}

#content .list li{
	font:12px/26px Arial, Helvetica, sans-serif;
	background:url(/images/marker2.gif) left center no-repeat;
	padding-left:20px;
}
#content h5{
	font:14px/1.2em Arial, Helvetica, sans-serif;
	color:#BE81F7;
	text-transform:none;
	margin-bottom:18px;
}

#content .colum.pr{
	padding-right:60px;
}

#content .list{
	padding-bottom:18px;
}

#content .list li{
	font:12px/26px Arial, Helvetica, sans-serif;
	background:url(/images/marker2.gif) left center no-repeat;
	padding-left:20px;
}
*+html #content .list li{ display:inline-block;}

#content menu h3{
margin-bottom:6px;
}

menu ul li{
	background:url(/images/marker1.gif) left center no-repeat;
	padding-left:12px;
	border-bottom:1px #d9d9d9 dotted;
}

menu ul li:last-of-type{
	border:none;
}

menu{
	margin-bottom:36px;
	width:220px;
}

menu ul li a{
	font:bold 12px/27px Arial, Helvetica, sans-serif;
}

/*===== footer =====*/
footer h4{
	position:absolute;
	left:0;
	top:28px;
}

footer h4 a{
	text-transform:uppercase;
	color:#7d7d7d;
	font:18px Arial, Helvetica, sans-serif;
	text-decoration:none;
}

footer .privacy{
	color:#7e7e7e;
	font:12px Arial, Helvetica, sans-serif;
	position:absolute;
	left:30px;
	top:32px;
}

footer nav{
	position:absolute;
	left:-7px;
	top:57px;
	color:#cdcdcd;
	font:12px Arial, Helvetica, sans-serif;
}

footer nav ul{
	overflow:hidden;
}

footer nav li{
	float:left;
	padding:0 6px 0 7px;
	border-right:1px #4f4f4f solid;
}

footer nav li:last-of-type{
	border-right:none;
}

footer nav li a{
	color:#4f4f4f;
	text-decoration:none;
}

footer nav li a:hover,footer nav li.active a{
	color:#54acd9;
	text-decoration:none;
}

footer .phone{
	position:absolute;
	left:780px;
	top:21px;
	background:#f7f7f7;
	width:190px;
	color:#6f6f6f;
	font:18px/20px "Times New Roman", Times, serif;
	padding:6px 0 5px 12px;
}

footer .phone:before{
	background: url(images/phone-top.gif);
	width:202px;
	height:4px;
	position:absolute;
	left:0;
	top:0;
	content:'';
}

footer .phone span{
	color:#54acd9;
	font:24px/24px "Times New Roman", Times, serif;
	position:relative;
	top:-3px;
}

footer .phone img{
	margin:1px 6px 0 0;
}
/*----- forms -----*/

#search{
	position:absolute;
	left:728px;
	top:13px;
	width:252px;
}

#search label{
	padding:0 0 0 7px;
	height:33px;
	background:url(/images/search-left.gif) left top no-repeat;
	float:left;
}

#search label input{
	border:1px #e5e5e5 solid;
	border-left:none;
	border-right:none;
	float:left;
	padding:8px 0 8px 0;
	width:170px;
	font:12px Arial, Helvetica, sans-serif;
}

#search input[type=submit]{
	border:none;
	float:left;
	width:72px;
	height:33px;
	background:url(/images/search.gif);
	cursor:pointer;
}

#login{
	width:274px;
	background:#f8f9fa;
	border:1px #f3f3f3 solid;
	border-top:none;
	border-bottom:none;
	position:relative;
	margin-bottom:40px;
}

#login fieldset{
	overflow:hidden;
	padding:21px 16px 24px 16px;
}

#login:before{
	background: url(/images/login-top.gif);
	width:276px;
	height:4px;
	position:absolute;
	left:-1px;
	top:0px;
	content:'';
}

#login:after{
	background: url(/images/login-bot.gif) no-repeat top;
	width:276px;
	height:4px;
	position:absolute;
	left:-1px;
	bottom:0px;
	content:'';
}

#login mark{
	float:left;
	width:70px;
}

#login label{
	float:left;
	margin-bottom:5px;
}

#login label span{
	float:left;
	background:url(/images/login-left.gif) left top no-repeat;
}

#login label span span{
	padding:0 6px 0 6px;
	background:url(/images/login-right.gif) right top no-repeat;z
}

#login label input[type=text],#login label input[type=password]{
	width:160px;
	background:#f8f9fa;
	border:1px #dcdcdc solid;
	border-left:none;
	border-right:none;
	float:left;
	padding:6px 0 5px 0;
	color:#585858;
	font:12px Arial, Helvetica, sans-serif;
}

#login .chck{
	color:#2baccc;
	padding-top:8px;
}

#login .chck input{
	margin-right:8px;
}

#login a.button{
	float:right;
	background:#2baccc;
	color:#fff;
	margin:4px 4px 0 0;
	font:bold 12px/29px Arial, Helvetica, sans-serif;
	padding:0 26px 1px 26px;
}

#login a.button:hover{
	color:#000;
}

#login a.button:before{
	width:3px;
	background:url(/images/button-login-left.gif);
}
#login a.button:after{
	width:3px;
	background:url(/images/button-login-right.gif);
}

#login fieldset>span{
	line-height:28px;
}

#newsletter{
	width:276px;
	background:#f3f3f3;
	position:relative;
	color:#505050;
	margin-bottom:30px;
}

#newsletter:before{
	background: url(images/news-top.gif);
	width:276px;
	height:3px;
	position:absolute;
	left:0;
	top:0;
	content:'';
}

#newsletter:after{
	background: url(/images/news-bot.gif);
	width:276px;
	height:3px;
	position:absolute;
	left:0;
	bottom:0;
	content:'';
}

#newsletter fieldset{
	padding:21px 16px 22px 16px;
}

#newsletter input{
	width:234px;
	border:1px solid #dcdcdc;
	border-right:none;
	border-left:none;
	background:#f3f3f3;
	float:left;
	padding:6px 0 6px 0;
	color:#585858;
	font:12px Arial, Helvetica, sans-serif;
}

#newsletter label{
	background: url(/images/news-left.gif) left top no-repeat;
	float:left;
	margin-bottom:12px;
}

#newsletter label span{
	padding:0 4px 0 4px;
	float:left;
	background:url(/images/news-right.gif) right top no-repeat;
}

#newsletter a.button{
	float:right;
	background:#f0b106;
	padding:0 24px 1px 24px;
	color:#fff;
}

#newsletter a.button:hover{
	color:#000;
}

#newsletter a.button:before{
	width:3px;
	background:url(/images/button-news-left.gif);
}
#newsletter a.button:after{
	width:3px;
	background:url(/images/button-news-right.gif);
}

#form1 label{
	width:280px;
	float:left;
	padding-bottom:12px;
}

#form1 label span{
	float:left;
}

#form1 label input,#form1 label textarea{
	float:right;
	width:174px;
	margin:0;
	padding:0;
	border:2px #7d7d7d solid;
	border-bottom:1px #c9d2d7 solid;
	border-right:1px #c9d2d7 solid;
}

#form1 label textarea{
	overflow:auto;
	height:176px;
}

#form1 .btns{
	width:auto;
	float:right;
	margin-right:1px;
}

#form1 .btns .button{
	margin-left:10px;
}
/*==========================================*/