@font-face {
  font-family: 'Brandon_Grotesque_Regular';
  src: url('../fonts/fonnts.com-Brandon_Grotesque_Regular.otf') format('opentype font');
  font-weight: normal; /* Optional: specify font weight */
  font-style: normal; /* Optional: specify font style */
   font-display: swap; /* Optional: controls how font loads and renders */
  
}
@font-face {
  font-family: 'Brandon_Grotesque_Regular';
  src: url('../fonts/ffonnts.com-Brandon_Grotesque_Bold.otf') format('opentype font');
  font-weight: 300;
  font-style: normal;
}

:root {
	--c-bg: #0C354C;
  --c-font-color: #C0BFBF;
  --c-font-color-visit: #38D7EA;

	&.light-theme {
	--c-bg: #B9CDD0;
  --c-font-color: #383838;
  --c-font-color-visit: #38D7EA;
	}
}

body{
  
  height: 100vh;
  width: 100%;
  margin: 0;
  
  overflow-x: hidden;
}
.home-page {
  background-color: var(--c-bg);
  color: var(--c-font-color);
  overflow-y: hidden;
  
}

/*body {
  color: light-dark(#383838, #B9CDD0);
  background-color: light-dark(#C0BFBF, #0C354C);
}*/  

.nav-item-style-home{
	
	color:var(--c-font-color);
  
} 

.nav-item-style-home:hover, .active-home {
	color: var(--c-font-color-visit);
}


.text-color-blue{
  color: var(--c-font-color-visit);
}
.text-color-grey{
  color: #C0BFBF;
}
.teaching-bgcolor{
	background-color: #0C354C;
}
.home-text1{
  font-size: 2rem;
}

.container{
	padding-left: 0;
	padding-right: 0;
}

.navbar-nav{
	margin-left: auto;
}
.nav-item-style-teaching{
	
	color:#C0BFBF;
} 
.nav-item-style-teaching:hover, .active-teaching {
	color: #38D7EA;
}

.navbar-teaching{
	border-bottom: #C0BFBF solid 2px ;
	background-color:#0C354C ;
}
.navbar-home{
	border-bottom: #707070 solid 2px ;
	color:#383838;
}
.image-container {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  /*background-image: url('../images/sun.png'); /* Your initial image */
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the background image */
  /*transition: background-image 0.5s ease-in-out; /* Smooth transition */
}


.carousel-item{
	max-height: 550px;
}

.carousel-inner{
  border-radius: 500px 500px 0 0; /* Rounds the bottom-left and bottom-right corners */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.carousel-caption{
	width: 90%;
	margin-left: -90px;
	margin-right: 1rem;
}
#carouselExampleDark{
	margin-top: 7rem;
}
#carouselExampleDark .carousel-item {
  transition: transform 0.1s ease-in-out; /* Adjust timing */
  
}
#carouselExampleDark .carousel-item-next {
  transform: rotate(-90deg);
}
#carouselExampleDark .carousel-item-prev {
  transform: rotate(90deg);
}

#carouselExampleDark .carousel-item-next.carousel-item-start,
#carouselExampleDark .carousel-item-prev.carousel-item-end {
  transform: rotate(0deg);
}

#carouselExampleDark .carousel-item-next.carousel-item-end {
  transform: rotate(-90deg);
}

#carouselExampleDark .carousel-item-prev.carousel-item-start {
  transform: rotate(90deg);
}
.carousel-caption{
	margin-bottom:5rem;
	/*border:red solid 2px; */
	
}
/* arrow-prev carousel-navig*/

.arrow-prev{
  border: solid #F8F8F8;
  display: inline-block;
  padding: 10px;
  border-width: 0 0 5px 5px;
  transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.arrow-prev:hover{
  border: solid #38D7EA;
  display: inline-block;
  padding: 10px;
  border-width: 0 0 5px 5px;
  transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.arrow-next{
  border: solid #F8F8F8;
  display: inline-block;
  padding: 10px;
  border-width: 0 5px 5px 0;
  transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.arrow-next:hover{
  border: solid #38D7EA;
  display: inline-block;
  padding: 10px;
  border-width: 0 5px 5px 0;
  transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
#popoverContent{
  background-color: red;
}
.sign-up-text{
  font-size: 8pt;
}
.newsletter-input{
  margin : 10pt 0;
}
.logo-badge{
  height: 50pt;
}
.image-placeholder{
	height:25rem
}
.text-color-white{
	color:#F8F8F8;
	
}
.container-teaching{
	width: 100%;
}
.teaching-sections{
	height: 100vh;
	color: white;
}
.grey-section{
	background-color: #383838;
}
.teaching-sec-1{
	background-color: red;
	padding-left: 2px;
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}




.arrow-down{
	border: solid #C0BFBF;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 10px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.arrow-down:hover{
	border: solid #38D7EA;
  border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 10px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	
}
.align-items-stretch{
	padding-top:3rem;
	padding-bottom:1rem;
}
.section1-teach{
	background-color: rgba(255, 255, 255, 0.7);
	
	color: #383838;
	margin-top: auto;
	margin-bottom: auto;
	padding:10px 0 10px 0;
 
}
.section1-teach:hover .section1-teach-detail:hover{
  overflow: auto;
}
.section1-teach-header{
  font-weight: bold;
	font-size: 15pt;
  
}
.section1-cover{
	height: 75vh;
}
.section1-teach-detail{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  box-sizing: border-box;
  text-align: left;
  margin-top: 10px;
}
 .section1-teach-detail:hover {
  opacity: 1; /* Fades in the content on hover */
  background-color: rgba(255, 255, 255, 0.7); /* Transparent black background */
  color: #383838;
  font-size: 12px;
  padding: 0 10px;
  margin: 10px 0;
  position: relative;
  
}



